@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name</h2>

    <hr />
    <h6>Date: @DateTime.Now.DayOfWeek @DateTime.Now.Year </h6>
    <br />

}


<div class="panel-background">
    <div>
        @*@Html.ActionLink("Log in hier", "Login", "Account")*@
        @Html.Partial("_LoginPartial")
    </div>
</div>